.box1 {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: aqua;
}

.box2 {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: chartreuse;
}
.box3 {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: crimson;
}
.box4 {
  display: block;
  width: 600px;
  height: 200px;
  background-color: yellow;
}
